<h1>New game</h1>
<h2><%= @letters %></h2>

<form>
  <label for="word_input">What is the longest word you can find?</label><br>
  <input type="text" name="input">
  <input type="submit" value="Play">
</form>
